# =========================
#  Build & Output
# =========================
bin/
obj/
out/
publish/
*.txt
*.user

# =========================
#  IDE & Editor
# =========================
.vs/
.vscode/


# =========================
# 📦 NuGet
# =========================
*.nupkg
packages/
.nuget/

# =========================
#  Testing & Coverage
# =========================

*.http


# =========================
# 🌐 Environment & Secrets
# =========================
appsettings.Development.json


# =========================
# 🗄️ Database / EF Core
# =========================
*.db
*.db-wal
*.db-shm
*.sqlite
*.sqlite3


# =========================
#  Docker 
# =========================
docker-compose.yml

# =========================
# 📁 Temporary Files
# =========================
*.tmp
*.temp
